
body{
    font-family: 'Roboto', sans-serif;   
    width: 1600px;}

.link{text-decoration: none;
    list-style: none;}

header{
    margin-left: 8px;
    background: #f5f5f5;   
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    position: absolute;}

.heder-logo{color:#000000;}

.studio1 ,
.portfolio2{
    color: #2196F3;
}

.heder-buttons{display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 32px;}

.heder-nav-link{font-weight: 500;
    font-size: 14px;
    line-height: calc(14 / 16);
    letter-spacing: 0.02em;
    color: #212121;
    margin-right:50px;
    }

.heder-nav-link:hover ,
.heder-nav-link:focus{font-weight: 500;
    font-size: 14px;
    line-height: calc(14 / 16);
    letter-spacing: 0.02em;
    color: #2196F3;}

.logo-link{
    margin-left: 255px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(26 / 31);
    letter-spacing: 0.03em;
    color: #2196F3;
    width: 145px;
    height: 31px;
    margin-top: 29px;}

.heder-contacts-link{margin-left: 344px;
    margin-top: 32px;
    padding-bottom: 32px;}

.heder-contackts{
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;}

.heder-contackts:hover ,
.heder-contackts:focus{font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;}


main{background: #FFFFFF;}

.buy{width: 1600px;
    height: 600px;
    background: #2F303A;
    text-align: center;}

.buy-text{
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height:calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.buy-btn{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;}

.portfolio-main{margin-left:215px;
    padding-top: 94px;}

.portfolio-img{display: flex;
    flex-direction: row;}

.portfolio-li{background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 30px;
    margin-bottom: 30px;}

.portfolio-h3{font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
    padding: 20px 0px 0px 24px;}

.portfolio-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
padding: 0px 0px 20px 24px;}

.about-text{
    margin-left:215px ;
    display:flex;
    flex-direction: row;
    width: 1170px;}

.warning{padding-top: 94px;}

.about-h3{font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.about-p{font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;}

.main-btn{
    display: flex;
    flex-direction: row;
     margin-right: 50px; 
    list-style: none;
    margin-left: 380px;}

.nav-buttons{
    margin-right: 8px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    letter-spacing: 0.03em;
    color: #212121;}

.nav-buttons:hover ,
.nav-buttons:focus{background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}

.about-worck{padding:94px 0px 94px 0px; }

.whu-worck{display: flex;
    flex-direction: row;
    margin-left: 215px;}

.whu-worck-img{
    margin-right:30px;}

.whu-worck-txt{text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;}

.about-team{display: flex;
    flex-direction: row;
    margin-left: 215px;}

.my-team{background: #F5F4FA;
padding: 94px 0px 94px 0px;}

.team{margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   }

.team-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}

footer{background: #2F303A;
color:#FFFFFF ;
padding:60px 0px 60px 215px ;}

.footer-logo{color: #ffffff;}

address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;}

.footer-logo-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;}

.footer-contacts{font-weight: 400;
    font-size: 14px;
    line-height:calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

.footer-contacts:hover ,
.footer-contacts:focus{
    color: #2196F3;
}